<?xml version="1.0"?>

<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix"  default=""/>
  <xacro:arg name="gazebo"  default="false"/>
  <xacro:arg name="hokuyo"  default="true"/>
  <xacro:arg name="kinect"    default="true"/>

  <xacro:include filename="$(find turtlebot2_description)/urdf/common/common_properties.urdf.xacro" />
  <xacro:include filename="$(find turtlebot2_description)/urdf/common/turtlebot_properties.urdf.xacro" />
  <xacro:include filename="$(find turtlebot2_description)/urdf/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot2_description)/urdf/kobuki.urdf.xacro"/>

  <xacro:if value="$(arg hokuyo)">
    <xacro:include filename="$(find turtlebot2_description)/urdf/sensors/hokuyo.urdf.xacro" />
  </xacro:if>

  <xacro:if value="$(arg kinect)">
    <xacro:include filename="$(find turtlebot2_description)/urdf/sensors/kinect.urdf.xacro"/>
  </xacro:if>

</robot>
